menu button {
    line-height: 18px;
    vertical-align: middle;
}

button.delete {
    background-image: url(http://localhost:65300/images/discard.png?version=5.0.25);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

input:focus,
button,
a {
    outline: none;
}

.effective-content-area {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    left: 20%;
    top: 0;
    background: #FFF;
    margin: 3em auto;
    width: 95%;
}

.effective-content-area .main-area {
    padding-top: 30px;
}

.llable {
    width: 30%;
    color: #84b9de;
    font-weight: 400;
    text-align: right;
    vertical-align: top;
    line-height: 15px;
    display: inline-block;
    /*font-size: 1rem;*/
    position: relative;
    padding: 0 5% 0 0;
}

.Email a {
    text-decoration: none;
}

.value {
    vertical-align: top;
}

.Photo {
    border: 2px dashed transparent;
    height: 110px;
    width: 95px;
    position: relative;
    display: inline-block;
    text-align: right;
    border-radius: 0;
    background: none 0 0 no-repeat scroll transparent;
    margin: 20px 0 0 70px;
}

.PersonalBasic.personal-details.value {
    min-height: 110px;
    z-index: 10;
}

.value.PersonName span {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .05px;
}

.value.PersonName span.emptyFirstName,
.value.PersonName span.emptySurname {
    color: #CCC;
    font-style: italic;
    letter-spacing: .05px;
}

.value.PersonName span.FirstName,
.value.PersonName span.Surname {
    color: #2f2e2d;
}

.value.Address,
.value.Email,
.value.Telephone.default-value,
.value.InstantMessaging,
.value.Website {
    padding-left: 20px;
    background-color: transparent;
    background-position: 0 11px;
    background-repeat: no-repeat;
}

.value.Address {
    background-position-y: initial;
    background-image: url(icon-location.png);
}

.value.Email {
    padding-right: 8px;
    background-position-y: initial;
    background-image: url(icon-envelope.png);
}

.value.InstantMessaging {
    padding-left: 20px;
    background-position-y: initial;
    background-image: url(icon-im.png);
}

.value.Telephone .item {
    min-height: 15px;
    padding-left: 20px;
    padding-right: 8px;
    background-color: transparent;
    background-position: 0 3px;
    background-repeat: no-repeat;
}

.value.Telephone .item {
    background-position-y: initial;
    background-image: url(icon-home.png);
}

.value.Telephone .item span.Contact {
    display: inline-block;
    margin-top: 2px;
    margin-right: 2px;
}

.value.Telephone .item.mobile {
    background-position-y: initial;
    background: url(icon-mobile.png) 0 4px no-repeat;
}

.value.Telephone .item.work {
    background-position-y: initial;
    background: url(icon-work.png) 0 3px no-repeat;
}

.PersonalDetails dl + dl {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #2fa1d2;
    padding-left: 5px;
}

table.languages tr.language.compose-list > td.menu-placeholder menu.manage {
    position: relative;
    top: -1.2rem;
    left: -4rem;
    padding: 0;
}

table.languages tr.language.compose-list > td.menu-placeholder menu.manage button {
    height: 1.6rem;
    position: absolute;
    margin: 0;
}

table.languages tr.language.compose-list > td.menu-placeholder menu.manage button.edit {
    right: 0;
    top: -2px;
    width: auto;
    border-radius: 0 !important;
    padding: .2rem;
}

table.languages tr.language.compose-list > td.menu-placeholder menu.manage button.attach {
    top: -2px;
    border-radius: 0 !important;
    background-position: 50% -78px;
}

table.languages tr.language.compose-list > td.menu-placeholder menu.manage button.attach.tap-hover,
table.languages tr.language.compose-list > td.menu-placeholder menu.manage button.attach:hover {
    background-position: 50% -119px;
}

table.languages tr.language.compose-list > td.menu-placeholder menu.manage button.delete {
    left: 2rem;
    border-radius: 0 4px 0 0 !important;
    top: -2px !important;
    background-position: 50% -158px;
}

table.languages tr.language.compose-list > td.menu-placeholder menu.manage button.delete.tap-hover,
table.languages tr.language.compose-list > td.menu-placeholder menu.manage button.delete:hover {
    background-position: 50% -197px;
}

.Address.minimal {
    display: inline;
    position: relative;
    left: -4px;
}

dd.value span.personal-statement {
    font-size: 10pt;
}

table.languages > tfoot > tr > td {
    border: 1px solid transparent;
    border-radius: 4px;
    background: none 0 0 repeat scroll transparent;
    margin: .4rem 0 -.1rem;
    padding: 2% 0 0;
}

table.languages > tfoot > tr > td button.opens-modal-form {
    width: 100%;
    text-align: left;
    margin: 0 !important;
    padding: 17px 0 17px 34.5% !important;
}

table.languages > tfoot > tr > td button.opens-modal-form span {
    display: inline-block;
    color: #fc6e0d;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    transition: none;
    text-align: left;
    border: none;
    vertical-align: bottom;
}

table.languages > thead > tr .Listening,
table.languages > thead > tr .Reading,
table.languages > thead > tr .SpokenInteraction,
table.languages > thead > tr .SpokenProduction,
table.languages > thead > tr .Writing {
    width: 13%;
}

table.languages > thead > tr:first-child {
    text-transform: uppercase;
}

table.languages th {
    border: 1px solid #CCC;
    padding: 5px 3px 4px;
}

table.languages th.no-border {
    border-left: 1px solid transparent;
    width: 10%;
    padding: 0 2.3rem 0 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

table.languages tr.proficiency td.Title {
    text-align: center;
    background: #f3f3f3;
}

.self-evaluation > td {
    width: 20%;
}

table.languages tbody tr.certificates td {
    background: #f4f4f4;
}

table.languages > tbody > tr > td > ul > li {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cfd0d2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c2c3c6;
    line-height: 30px;
    background-color: #e7e7e8;
}

table.languages tr.compose-list td.llable .language-title {
    position: relative;
    color: #2f2e2d;
    text-align: right;
}

table.languages tr.language.compose-list > td {
    border-color: transparent;
    border-style: solid;
    border-width: 1px 0;
}

table.languages tr.language.compose-list td:first-child {
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
    padding: 0 2.3rem 0 0;
}

table.languages tr.language.compose-list td:last-child {
    border-radius: 0 4px 4px 0;
    border-width: 1px 1px 1px 0;
}

table.languages tr.language.compose-list table tr.self-evaluation td,
table.languages tr.language.compose-list table tr.certificates td,
table.languages tr.language.compose-list table tr.documentation td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    border-radius: 0;
    padding: 6px 0;
}

table.languages tr.language.compose-list table tr.documentation:last-child td {
    border-bottom-color: transparent;
}

table.ict-skills th.no-border {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 35%;
    border-width: 1px;
    padding: 0 2.3rem 0 0;
}

dl[id$=ReferenceTo] li.compose-list {
    min-height: 15px;
}

dl[id$=ReferenceTo] li.compose-list > a {
    margin-left: 35%;
    padding-left: 20px;
    position: relative;
}

dl[id$=ReferenceTo] li.compose-list > a::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 2px;
}

footer {
    clear: both;
}

.rich-content ul ul,
.rich-editor ul ul,
.description ul ul,
.email-note ul ul {
    margin-bottom: 0 !important;
    padding-left: 1em !important;
}

.rich-content em,
.rich-editor em,
.description em,
.email-note em,
.rich-content i,
.rich-editor i,
.description i,
.email-note i {
    font-style: italic;
}

.rich-content p.indent1,
.rich-editor p.indent1,
.description p.indent1,
.email-note p.indent1 {
    margin-left: 20px;
    margin-bottom: 0 !important;
}

.rich-content p.indent2,
.rich-editor p.indent2,
.description p.indent2,
.email-note p.indent2 {
    margin-left: 40px;
    margin-bottom: 0 !important;
}

.rich-content p.indent3,
.rich-editor p.indent3,
.description p.indent3,
.email-note p.indent3 {
    margin-left: 60px;
    margin-bottom: 0 !important;
}

.rich-content p.align-justify,
.rich-editor p.align-justify,
.description p.align-justify,
.email-note p.align-justify {
    text-align: justify;
}

.rich-content p:last-of-type,
.rich-editor p:last-of-type,
.description p:last-of-type,
.email-note p:last-of-type {
    padding: 0;
}

.rich-content blockquote,
.rich-editor blockquote,
.description blockquote,
.email-note blockquote {
    line-height: 1.4rem;
    margin-left: 2em !important;
    padding: 2px 0 19px;
}

.rich-content > .description {
    margin-right: 30px;
}

.Period div.overlay {
    opacity: .6;
    bottom: 0;
    left: 0;
    width: 81%;
    position: absolute;
    height: 70px;
    display: none;
    background: #f9f9f9;
}

header > legend {
    font-family: 'Open Sans', sans-serif;
}

.Experience.Period .composite > *,
.Birthdate .composite > *,
.Date .composite > * {
    float: left;
    width: 25%;
    margin-right: 3%;
}

ul.drivingLicense li.empty:hover {
    background: none;
}

ul.drivingLicense li.empty .icon {
    background: transparent;
}

div.context-recommendations-list.tooltip .tooltip-arrow .context-list li.phrase .description {
    white-space: pre-wrap;
    word-wrap: break-word;
}

sup {
    top: 0;
    vertical-align: top;
}

sub {
    top: 8px;
}

sup,
sub {
    line-height: 0;
    position: relative;
    font-size: xx-small !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
.cl.compose .inline-values {
    display: block;
}

.description strong,
.email-note strong,
.rich-content strong,
.description b,
.email-note b,
.rich-content b,
.Photo .notification.warning b,
.Signature .notification.warning b {
    font-weight: 700;
}

dt.llable span.title,
.foreign-language-skills span.title,
table.languages > thead > tr {
    color: #2a7ab9;
}

a,
a:visited {
    color: #000;
}

table.languages tr.compose-list button.sort-move-down,
li.compose-list button.sort-move-down {
    background-color: transparent;
    background-position: 0 -100px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    display: none;
    height: 40px;
    left: 0;
    overflow: visible;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 40px;
    z-index: 49;
}

table.languages tr.compose-list button.sort-move-down.inactive,
li.compose-list button.sort-move-down.inactive,
table.languages tr.compose-list button.sort-move-up.inactive,
li.compose-list button.sort-move-up.inactive,
table.languages tr.compose-list button.sort-move-top.inactive,
li.compose-list button.sort-move-top.inactive {
    opacity: .3;
}

table.languages tr.compose-list button.sort-move-up,
li.compose-list button.sort-move-up {
    background-color: transparent;
    background-position: 0 -140px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    display: none;
    height: 40px;
    left: 25px;
    overflow: visible;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 40px;
    z-index: 49;
}

table.languages tr.compose-list button.sort-move-top,
li.compose-list button.sort-move-top {
    background-color: transparent;
    background-position: 0 -175px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    display: none;
    height: 40px;
    left: 50px;
    overflow: visible;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 40px;
    z-index: 49;
}

.list-item.frst-animation-start button.sort-move-up,
.list-item.frst-animation-start button.sort-move-down,
.list-item.frst-animation-start button.sort-move-top,
.list-item.frst-animation-start menu.section.manage,
.list-item.frst-animation-start > td .llable > .language-title button.sort-move-up,
.list-item.frst-animation-start > td .llable > .language-title button.sort-move-down,
.list-item.frst-animation-start > td .llable > .language-title button.sort-move-top,
.list-item.frst-animation-start > td .menu-placeholder menu.section.manage {
    display: inline-block !important;
    opacity: 1 !important;
}

.list-item.frst-animation-start button.sort-move-up.inactive,
.list-item.frst-animation-start button.sort-move-down.inactive,
.list-item.frst-animation-start button.sort-move-top.inactive,
.list-item.frst-animation-start > td .llable > .language-title button.sort-move-up.inactive,
.list-item.frst-animation-start > td .llable > .language-title button.sort-move-down.inactive,
.list-item.frst-animation-start > td .llable > .language-title button.sort-move-top.inactive,
.list-item.scnd-animation-start button.sort-move-up.inactive,
.list-item.scnd-animation-start button.sort-move-down.inactive,
.list-item.scnd-animation-start button.sort-move-top.inactive,
.list-item.scnd-animation-start > td .llable > .language-title button.sort-move-up.inactive,
.list-item.scnd-animation-start > td .llable > .language-title button.sort-move-down.inactive,
.list-item.scnd-animation-start > td .llable > .language-title button.sort-move-top.inactive {
    opacity: .3 !important;
}

.list-item.scnd-animation-start button.sort-move-up,
.list-item.scnd-animation-start button.sort-move-down,
.list-item.scnd-animation-start button.sort-move-top,
.list-item.scnd-animation-start menu.section.manage,
.list-item.scnd-animation-start > td .llable > .language-title button.sort-move-up,
.list-item.scnd-animation-start > td .llable > .language-title button.sort-move-down,
.list-item.scnd-animation-start > td .llable > .language-title button.sort-move-top,
.list-item.scnd-animation-start > td .menu-placeholder menu.section.manage {
    display: inline-block !important;
    opacity: 0 !important;
}

.list-item.frst-animation-end button.sort-move-up,
.list-item.frst-animation-end button.sort-move-down,
.list-item.frst-animation-end button.sort-move-top,
.list-item.frst-animation-end menu.section.manage,
.list-item.frst-animation-end > td .llable > .language-title button.sort-move-up,
.list-item.frst-animation-end > td .llable > .language-title button.sort-move-down,
.list-item.frst-animation-end > td .llable > .language-title button.sort-move-top,
.list-item.frst-animation-end > td .menu-placeholder menu.section.manage {
    display: inline-block !important;
    opacity: 0 !important;
    transition: opacity 1s ease-out;
}

.list-item.frst-animation-end button.sort-move-up.inactive,
.list-item.frst-animation-end button.sort-move-down.inactive,
.list-item.frst-animation-end button.sort-move-top.inactive,
.list-item.frst-animation-end > td .llable > .language-title button.sort-move-up.inactive,
.list-item.frst-animation-end > td .llable > .language-title button.sort-move-down.inactive,
.list-item.frst-animation-end > td .llable > .language-title button.sort-move-top.inactive,
.list-item.scnd-animation-end button.sort-move-up.inactive,
.list-item.scnd-animation-end button.sort-move-down.inactive,
.list-item.scnd-animation-end button.sort-move-top.inactive,
.list-item.scnd-animation-end > td .llable > .language-title button.sort-move-up.inactive,
.list-item.scnd-animation-end > td .llable > .language-title button.sort-move-down.inactive,
.list-item.scnd-animation-end > td .llable > .language-title button.sort-move-top.inactive {
    opacity: .3 !important;
    transition: opacity 1s ease-out;
}

.list-item.scnd-animation-end button.sort-move-up,
.list-item.scnd-animation-end button.sort-move-down,
.list-item.scnd-animation-end button.sort-move-top,
.list-item.scnd-animation-end menu.section.manage,
.list-item.scnd-animation-end > td .llable > .language-title button.sort-move-up,
.list-item.scnd-animation-end > td .llable > .language-title button.sort-move-down,
.list-item.scnd-animation-end > td .llable > .language-title button.sort-move-top,
.list-item.scnd-animation-end > td .menu-placeholder menu.section.manage {
    display: inline-block !important;
    opacity: 1 !important;
    transition: opacity 1s ease-out;
}

table.list-actions td.empty:hover,
table.list-actions td.empty.tap-hover,
table.languages > tfoot > tr > td button.opens-modal-form:hover {
    background-color: #f3f3f3;
    border-color: transparent;
}

table.languages > tfoot > tr > td button.opens-modal-form span.img-placeholder {
    background-image: url(http://localhost:65300/images/sprites/round_plus_icons.png?version=5.0.25);
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 21px;
    width: 30px;
}

table.languages > tfoot > tr > td button.opens-modal-form:hover span {
    border: none;
    color: #2a7ab9;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    transition: none;
    vertical-align: bottom;
}

table.languages > tfoot > tr > td button.opens-modal-form:hover span.img-placeholder {
    background-image: url(http://localhost:65300/images/sprites/round_plus_icons.png?version=5.0.25);
    background-position: 0 -21px;
    background-repeat: no-repeat;
    min-height: 21px;
    width: 30px;
}

.value.Website,
.Telephone .composite.select .help.placeholding .select2-container .select2-default.select2-choice .select2-chosen {
    padding-left: 20px;
}

.value.InstantMessaging .Use,
.Birthdate .llable,
.Gender .llable,
.Nationality .llable,
.inner-content-label {
    color: #2fa1d2;
}

dd.value.attachment,
dl.skills > dd.value > div.attachment,
tr.documentation > td > div.attachment,
.cl.compose .right-align {
    text-align: right;
}

table.languages th.sub-heading,
table.languages th .llable,
table.ict-skills th.sub-heading,
table.ict-skills th .llable {
    color: #2a7ab9;
    text-align: right;
    /*width: 30%;*/
}

table.languages > thead > tr > th span.title,
table.ict-skills > thead > tr > th span.title {
    text-transform: none;
}

table.languages th.menu-placeholder,
table.ict-skills th.menu-placeholder {
    border-color: transparent;
    padding: 0;
}

table.languages tr.language td {
    text-align: center;
}

.rich-content ol,
.rich-editor ol,
.description ol,
.email-note ol,
.rich-content ol li.nesting ol,
.rich-editor ol li.nesting ol,
.description ol li.nesting ol,
.email-note ol li.nesting ol,
.rich-content ol li.nesting ul,
.rich-editor ol li.nesting ul,
.description ol li.nesting ul,
.email-note ol li.nesting ul,
.rich-content ul,
.rich-editor ul,
.description ul,
.email-note ul,
.rich-content ul li.nesting ol,
.rich-editor ul li.nesting ol,
.description ul li.nesting ol,
.email-note ul li.nesting ol,
.rich-content ul li.nesting ul,
.rich-editor ul li.nesting ul,
.description ul li.nesting ul,
.email-note ul li.nesting ul {
    padding-left: 10px !important;
}

.rich-content ol li,
.rich-editor ol li,
.description ol li,
.email-note ol li,
.rich-content ul li,
.rich-editor ul li,
.description ul li,
.email-note ul li {
    margin-left: 1em;
    position: relative;
}

.rich-content ol li::before,
.rich-editor ol li::before,
.description ol li::before,
.email-note ol li::before,
.rich-content ul li::before,
.rich-editor ul li::before,
.description ul li::before,
.email-note ul li::before {
    content: "-";
    left: -1em;
    position: absolute;
    top: 0;
    padding-top: inherit;
}

.rich-content ol li p,
.rich-editor ol li p,
.description ol li p,
.email-note ol li p,
.rich-content ul li p,
.rich-editor ul li p,
.description ul li p,
.email-note ul li p {
    margin: 0;
}

.rich-content ol ol li::before,
.rich-editor ol ol li::before,
.description ol ol li::before,
.email-note ol ol li::before,
.rich-content ol ol ol ol li::before,
.rich-editor ol ol ol ol li::before,
.description ol ol ol ol li::before,
.email-note ol ol ol ol li::before,
.rich-content ol ol ol ol ol ol li::before,
.rich-editor ol ol ol ol ol ol li::before,
.description ol ol ol ol ol ol li::before,
.email-note ol ol ol ol ol ol li::before,
.rich-content ol ol ol ol ol ol ol ol li::before,
.rich-editor ol ol ol ol ol ol ol ol li::before,
.description ol ol ol ol ol ol ol ol li::before,
.email-note ol ol ol ol ol ol ol ol li::before,
.rich-content ol ol ol ol ol ol ol ol ol ol li::before,
.rich-editor ol ol ol ol ol ol ol ol ol ol li::before,
.description ol ol ol ol ol ol ol ol ol ol li::before,
.email-note ol ol ol ol ol ol ol ol ol ol li::before,
.rich-content ul ul li::before,
.rich-editor ul ul li::before,
.description ul ul li::before,
.email-note ul ul li::before,
.rich-content ul ul ul ul li::before,
.rich-editor ul ul ul ul li::before,
.description ul ul ul ul li::before,
.email-note ul ul ul ul li::before,
.rich-content ul ul ul ul ul ul li::before,
.rich-editor ul ul ul ul ul ul li::before,
.description ul ul ul ul ul ul li::before,
.email-note ul ul ul ul ul ul li::before,
.rich-content ul ul ul ul ul ul ul ul li::before,
.rich-editor ul ul ul ul ul ul ul ul li::before,
.description ul ul ul ul ul ul ul ul li::before,
.email-note ul ul ul ul ul ul ul ul li::before,
.rich-content ul ul ul ul ul ul ul ul ul ul li::before,
.rich-editor ul ul ul ul ul ul ul ul ul ul li::before,
.description ul ul ul ul ul ul ul ul ul ul li::before,
.email-note ul ul ul ul ul ul ul ul ul ul li::before {
    content: "□";
}

.rich-content ol ol ol li::before,
.rich-editor ol ol ol li::before,
.description ol ol ol li::before,
.email-note ol ol ol li::before,
.rich-content ol ol ol ol ol li::before,
.rich-editor ol ol ol ol ol li::before,
.description ol ol ol ol ol li::before,
.email-note ol ol ol ol ol li::before,
.rich-content ol ol ol ol ol ol ol li::before,
.rich-editor ol ol ol ol ol ol ol li::before,
.description ol ol ol ol ol ol ol li::before,
.email-note ol ol ol ol ol ol ol li::before,
.rich-content ol ol ol ol ol ol ol ol ol li::before,
.rich-editor ol ol ol ol ol ol ol ol ol li::before,
.description ol ol ol ol ol ol ol ol ol li::before,
.email-note ol ol ol ol ol ol ol ol ol li::before,
.rich-content ul ul ul li::before,
.rich-editor ul ul ul li::before,
.description ul ul ul li::before,
.email-note ul ul ul li::before,
.rich-content ul ul ul ul ul li::before,
.rich-editor ul ul ul ul ul li::before,
.description ul ul ul ul ul li::before,
.email-note ul ul ul ul ul li::before,
.rich-content ul ul ul ul ul ul ul li::before,
.rich-editor ul ul ul ul ul ul ul li::before,
.description ul ul ul ul ul ul ul li::before,
.email-note ul ul ul ul ul ul ul li::before,
.rich-content ul ul ul ul ul ul ul ul ul li::before,
.rich-editor ul ul ul ul ul ul ul ul ul li::before,
.description ul ul ul ul ul ul ul ul ul li::before,
.email-note ul ul ul ul ul ul ul ul ul li::before {
    content: "■";
}

.rich-content br,
.rich-editor br,
.description br,
.email-note br,
.rich-content p,
.rich-editor p,
.description p,
.email-note p {
    /*line-height: 1.4rem;*/
    padding: 0em 0 .5em;
}

.titles {
    width: 30%;
    margin-right: -.4rem;
    color: #84b9de;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    position: relative;
}

.titles .title {
    color: #2a7ab9;
    font-size: initial;
}

.name {
    font-size: 2em;
    margin-top: -8px;
}

.PersonalDetails > .Nationality > .title,
.PersonalDetails > .Gender > .title,
.PersonalDetails>.Birthdate>.title {
    color: #84b9de;
    font-weight: 400;
    text-align: right;
    vertical-align: top;
    display: inline-block;
    font-size: 1.3rem;
    position: relative;
    padding: 0 5% 0 0;
}

.row {
    margin-top: 25px;
}

.row .no-top-margin {
    margin-top: 0px;
}

.row .no-top-margin > div.Title {
    font-weight: bold;
}

.row .no-top-margin > div.Level {
    color: #84b9de;
}

div.line::after {
    bottom: 0;
    content: "";
    height: .7rem;
    position: absolute;
    right: 0;
    width: .8rem;
    background: none 0 0 repeat scroll #1093cb;
}

div.line {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #1093cb;
    width: 100%;
    height: 10px;
    position: relative;
}

table.languages {
    display: none;
}

div.languages {
    display: block;
}

.languageDesc {
    font-size: 1.2em;
}

img {
    width: 100%;
}

div.PersonName .Surname,
div.PersonName .FirstName {
    font-size: 4em;
}

.PersonalBasic,
.PersonalDetails {
    display: none;
}

.hide-on-device {
    display: none !important;
}

.Position,
.education > div > div.Title {
    font-weight: bold;
}

@media (min-width: 768px) {
    div.PersonName .Surname,
    div.PersonName .FirstName {
        font-size: 1em;
    }
    .PersonalBasic,
    .PersonalDetails {
        display: block;
    }
    img {
        width: 60%;
        position: absolute;
        right: 0px;
    }
}

@media (min-width: 1000px) {
    .effective-content-area {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .hide-on-device {
        display: block !important;
    }
    .PersonalBasic,
    .PersonalDetails {
        display: block;
    }
    .titles .title {
        font-size: initial;
    }
    .languageDesc {
        font-size: initial;
    }
    .titles .period {
        font-size: initial;
    }
    div.value {
        font-size: initial;
    }
    div.PersonName .Surname,
    div.PersonName .FirstName {
        font-size: initial;
    }
    img {
        width: 40%;
        position: absolute;
        right: 0px;
    }
    div.line::after {
        bottom: 0;
        content: "";
        height: .7rem;
        position: absolute;
        right: 0;
        width: .8rem;
        background: none 0 0 repeat scroll #1093cb;
    }
    div.line {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #1093cb;
        width: 65%;
        height: 10px;
        position: relative;
    }
    .titles {
        text-align: right;
    }
    img {
        vertical-align: middle;
        position: absolute;
        right: 0px;
    }
    table.languages {
        display: block
    }
    div.languages {
        display: none
    }
}

@media print {
    .value.PersonName span.FirstName,
    .value.PersonName span.Surname {
        font-size: larger;
    }
    .effective-content-area {
        width: 80%;
    }
    .PersonalBasic,
    .PersonalDetails {
        display: block;
    }
    .titles .title {
        font-size: initial;
    }
    .languageDesc {
        font-size: initial;
    }
    .titles .period {
        font-size: initial;
    }
    div.value {
        font-size: initial;
    }
    div.PersonName .Surname,
    div.PersonName .FirstName {
        font-size: initial;
    }
    img {
        width: 60%;
        position: absolute;
        right: 0px;
    }
    /*div.line::after {
        bottom: 0;
        content: "";
        height: .7rem;
        position: absolute;
        right: 0;
        width: .8rem;
        background: none 0 0 repeat scroll #1093cb;
    }*/
    /*div.line {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #1093cb;
        width: 65%;
        height: 10px;
        position: relative;
    }*/
    /*.titles {
        text-align: right;
    }*/
    img {
        vertical-align: middle;
        position: absolute;
        right: 0px;
    }
    table.languages {
        display: block
    }
    div.languages {
        display: none
    }
    .row,
    .effective-content-area > section.unbroken {
        page-break-inside: avoid;
    }
    a[href]:after {
        content: none !important;
    }
}